@{
    ViewBag.Title = "Product categories";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

 <script type="text/x-handlebars-template" id="product_categories">
    <div class="row">
        {{#each}}
        <div class="col-md-4" onclick="showProducts("+ {{name}} +")" >
            <h2>{{name}}</h2>
            <p><img class="deal-column" src="~/images/category/"+{{name}}+".jpg" /></p>
        </div>
        {{/each}}
    </div>
</script>

<script type="text/javascript">

    var showProducts = function(e){
            $(location).attr("pathname", "products/"+ e.stringify());
        };
    

    $(document).ready(function(e){
        $.ajax({
            type : "GET",
            url : "api/products/types",
            contentType : "application/json; charset=utf-8",
            dataType : "json",
            data : JSON.stringify(params)
        }).done(function(response){
            if(response.d.ReturnCode !== 0) {
                $("#categories").html(
                    Handlebars.compile($("#product_categories").html())(response.d.Result)
                );
            }
            else{
                AddDefaultMenu(response);
            }    
        }).fail(function(){

        });
    });
</script>

<p>Product categories &raquo;</p>
<hr/>
<div id="categories" > </div>
<br/>
