@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Todays offers</h2>
            <p><img class="deal-column" src="~/images/todays_offfers.jpg" /></p>
            <p>Best offers on best brands <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">More offers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Best sellers</h2>
        <p><img class="deal-column" src="~/images/Bestseller.jpg" /></p>
        <p>Trending products <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Browse more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trending deals</h2>
        <p><img class="deal-column" src="~/images/todays_deal.jpg" /></p>
        <p>Hot deals at lowest prices <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">More deals &raquo;</a></p>
    </div>
</div>